body {
  background-color: gray;
}

#masthead {
    background-color: black;
    color: white;
    border: 15px solid;
    text-align: center;
}

#content {
    margin: 0 auto;
    width: 900px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-size: 20px;
  color: white;
  text-decoration: underline;
}

h2 {
  font-family: Georgia;
}

h3 {
  color: white;
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}

.image{
  text-align: right;
  padding-right: 15px;
}

blockquote {
  font: 16px;
  font-style: italic;
  margin: 15px 50px 15px;
  color: white;
  padding-left: 15px;
  border-left: 4px solid;
}

p {
  font-family: Georgia, serif;
  font-size: 13px;
}

figcaption {
  color: white;
  font-size: 11.5px;
  text-align: left;
}

li {
  color: white;
}
