body {
  background-color:
}

/* Topper Section */
.topper {
  margin-bottom: 50px;
}

#headline {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
  font-weight: 200;
  color: red;
}

#topper-img{
  width: 100%;
  max-width: 1500px;
  height: 500px;
  margin: 0 auto;
  display: table;
}

h5 {
  font-family: "Montserrat", serif;
  text-align: right;
  padding-right: 825px;
  color: white;
  font-style: italic;
  display: table-caption;
  margin-bottom: -20px;
  font-size: 1.1em;
  max-width: 100%;
}

#byline {
  font-family: serif, sans-serif;
  font-size: 1em;
  margin: 0 auto;
  color: gray;
}

#main-pic-cap {
  font-family: serif, sans-serif;
  width: 1100px;
  margin: 0 auto;
  color: gray;
  float: left;
  font-style: italic;
}

/* Story Section */
.story-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.paragraph{
  font-family: serif, sans-serif;
  font-size: 18px;
}

.image-box {
  margin: 0 auto;
}

.photo-caption {
  font-family: serif, sans-serif;
  color: gray;
  font-style: italic;
}

blockquote {
  font-family: "Montserrat", sans-serif;
  color: red;
	font-weight: bold;
	font-style: italic;
	margin: 1em 3em;
}

.graphic {
  background-color: white;
  max-width: 1100px;
}

/* Bootstrap */
.container {
  background-color: white;
}

.image-box2 {
  max-width: 400px;
  margin-bottom: 25px;
  margin: 0 auto;
}
