/* Styles for my resume */

/* Fonts are now added to the code to be displayed */
BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* Container for full page */
#container {
  width: 100%;
  max-width: 1200 px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* Adding elemnts to headline my name on webpage*/
#name {
  font-size: 3.5em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* My title is blue and bigger  */
#title {
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

/* Added a blue background and white text to section titles */
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

/* Changed the size of the font and boldness to job titles */
.jobtitle {
  font-weight: 600;
  font-size: 2em;
}

/* Changed the size of the font and boldness to organizations */
.organization {
  font-weight: 400;
  font-size: 1.5em;
}

/* Job dates are now italicized and touched up */
.date {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

/* Description has adjusted margins, along with same styling as before */
.description {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

/* Menu items are replacing ul tags which included margining and padding */
.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#degrees {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* List items are now set at 1em font */
li {
  font-size: 1em;
}


.top {
  width: 60%;
  min-width: 300px;
  margin-bottom: 30px;
  margin: 0 auto;
}
